body {
    background-color: #FFF8DC; /* Cornsilk background */
    color: #333; /* Dark text for readability */
    font-family: Arial, sans-serif; /* Change font */
    margin: 0;
    padding: 0;
}

h1 {
    color: darkgray; /*  color for headings */
}
 h2, h3 {
    color: #2F4F4F; /*dark slate gray  color for headings */
}
